@charset "utf-8";

/* CSS Document */

@media only screen and (min-width: 750px) {
    article,
    details,
    figcaption,
    figure,
    ul {
        list-style: none;
        padding: 0;
        margin: 5;
        display: inline-grid;
        grid-template-columns: repeat(2, minmax(300px, 1fr));
        grid-gap: 15px;
        text-align: center;
        vertical-align: middle;
    }
}